/* ----- navbar ------ */

.bg-blue {
    background-color: #00dfff;
    box-shadow: 3px 3px #dbdbdb;
}

.search-bar {
    width: 60%;
}

.citySearch{
    width: 100%;
    margin: 1rem 0;
}

.font-weight-bold{
    margin-right: 0;
    font-size: 30px;
}

/* ----- map ------ */

.map-container {
    margin-top: 2rem;
    padding: 0;
}

div #map {
    height: 100%;
    width: 100%;
    min-height: 360px;
    margin-bottom: 2rem;
}

/* ----- buttons ------ */

.request-buttons {
    text-align: center;
}

.btn {
    color: white;
}

/* ----- results ------ */

#listing {
    min-height: 500px;
    margin: 50px auto;
    width: 75%;
}

tr {
    width: 75%;
}

td {
    padding: 0 1rem;
}

td:nth-child(even) {
    width: 100%;
}

/* ----- media queries ------ */

@media (max-width: 768px) {
    
    .navbar-brand{
        font-size: 30px;
    }

    .btn {
        width: 80%;
        margin-bottom: 1rem;
    }

    #listing {
        width: 95%;
    }

    tr {
        width: 95%;
    }
}
